<div class='dhonishow autoplay_4dot5'>
	<%= image_tag("fotos/Said1.jpg", :alt => "Sistema Anticipado de Inscripción y Distribución") %>
	<%= image_tag("fotos/DesSis1.jpg", :alt => "Desarrollo de Sistemas", :size => "500x300") %>
	<%= image_tag("fotos/Certif1.jpg", :alt => "Certificación") %>
	<%= image_tag("fotos/EstadEduc1.jpg", :alt => "Estadística Educativa", :size => "500x300") %>
	<%= image_tag("fotos/SopTec1.jpg", :alt => "Soporte Técnico", :size => "500x300") %>
	<%= image_tag("fotos/Catalogo1.jpg", :alt => "Catálogo de Centros de Trabajo", :size => "500x300") %>
</div>
<p></p>
<%= link_to "Estadística Educativa", estadistica_path, :class => "destaca_button1 round" %>
<%= link_to "Sistema Anticipado de Inscripción y Asignación", said_path, :class => "destaca_button2 round" %>
<%= link_to "Desarrollo de Sistemas", desarrollo_path, :class => "destaca_button3 round" %>
<br />
