<header>
	
	<%= link_to(logo_diys, root_path) %>
	
	<nav class="round">
		<ul>
			<li><%= link_to "Inicio", root_path %></li>
			<li><%= link_to "Quienes somos", quienes_somos_path %></li>
			<li><%= link_to "Servicios", servicios_path %></li>
			<li><%= link_to("Contacto", contacto_path) %></li>
		</ul>
	</nav>
	
</header>
