<!DOCTYPE html>
<html>
<head>
  <title>Grupo La Se単a</title>
  <%= csrf_meta_tags %>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag('jquery-1.8.2.min') %>
  <%= javascript_include_tag('jquery.dhonishow-min') %>
  
  
</head>
<body>		
	<%= render 'layouts/header' %>
	<div class="container round">	
		<article class="round" >
		<section >
			<div class='dhonishow autoplay_4dot5' style="float: left;" >
				<%= image_tag("fotos/La_Se_9851.jpg", :alt => "La Se単a", :size => "565x330") %>
				<%= image_tag("fotos/La_Se_AgCal.jpg", :alt => "La Se単a", :size => "565x330") %>
				<%= image_tag("fotos/La_Se_Esce.jpg", :alt => "La Se単a", :size => "565x330") %>
			</div>
		</section>
		<div class="reproductor">
			<br />
			<h3>Temas de muestra: </h3>
			<br />
			<p>Pista 1:</p> 
            <audio class="audio" controls >
               <source src="/assets/Aguita.ogg"></source>
            </audio>
            <br />
            <p>Pista 2:</p>        
            <audio class="audio" controls preload>
               <source src="/assets/Lentement.ogg"></source>
            </audio>
			<p>Pista 3:</p>
            <audio class="audio" controls >
               <source src="/assets/Aguita.ogg"></source>
            </audio>
            <br />
            <p>Pista 4:</p>       
            <audio class="audio" controls preload>
               <source src="/assets/Lentement.ogg"></source>
            </audio>               			
		</div>
				
		</article>
		<aside class = "round" >
			<%= yield %>
		</aside>								
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
